*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo', sans-serif;
}

.sidebar h1{
   font-size: 20px;
    color: #FFF;
    margin-left: 30px;
    font-weight: 400;
    transition: 0.6s;
 
}

.sidebar ul li{
  list-style:none;
  margin-left: 30px;
  margin-right: 10px;


}

.sidebar ul li a{
  margin: 10px;
  color: #FFF;
  transition: .4s;
  text-decoration:none;
  font-size: 17px;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 800;
  width: 100%;
  display: block;
  

}




.sidebar ul li a:hover{
  color: #fb8717;
 

}

.sidebar h1:hover{
  color: #fb8717;
 
}

.p-sidebar{
  background-color: #243238 !important;
}

.imgSidebar{
  width: 25% !important;
  margin: 0 !important;
}



.p-button{
  background-color: #FFF !important;
  max-width: fit-content !important;
  height: fit-content !important;
}


@media(min-width:886px){
  .menu{
   display: none !important;
  }
}

.btnMenuBackgroud{
  background-color: #fb8717 !important;
}