*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Archivo', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

html{
  scroll-behavior: smooth;
}


.sidebar h1{
   font-size: 20px;
    color: #FFF;
    margin-left: 30px;
    font-weight: 400;
    transition: 0.6s;
 
}

.sidebar ul li{
  list-style:none;
  margin-left: 30px;
  margin-right: 10px;


}

.sidebar ul li a{
  margin: 10px;
  color: #FFF;
  transition: .4s;
  text-decoration:none;
  font-size: 17px;
  margin-top: 50px;
  font-size: 22px;
  font-weight: 800;
  width: 100%;
  display: block;
  

}




.sidebar ul li a:hover{
  color: #fb8717;
 

}

.sidebar h1:hover{
  color: #fb8717;
 
}

.p-sidebar{
  background-color: #243238 !important;
} 

.imgSidebar{
  width: 25% !important;
  margin: 0 !important;
}



.p-button{
  background-color: #FFF !important;
  max-width: fit-content !important;
  height: fit-content !important;
}



@media(min-width:886px){
  .menu{
   display: none !important;
  }
}

.btnMenuBackgroud{
  background-color: #fb8717 !important;
}

.sidebarPositionActive{
  background-color: #243238 !important;
  position: fixed !important;
}

.btn-contact{
  position: absolute !important;

}


.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
  transition: background-color .8s;
  cursor: pointer;
}


.face:hover{
  background-color: #3b5998;
}

.insta:hover{
  
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  
}

.whats:hover{
  background-color: #25D366;
  

}

.whats2{
background-color: #25D366;
position: fixed;
z-index: 100;
bottom: 30px;
right: 30px;
width: 60px;
  height: 60px;
}
